<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <form action="/requester" method="post">
            <label id="requesterLabel" for="requester">What's your name?</label>
            <input id="requester" name="requester" type="text" required>
            <button id="requesterSubmit" type="submit">Submit</button>
        </form>
        <form action="/leon" method="post">
            <button id="leon" type="submit">I am Leon</button>
        </form>
    </body>
</html>